html, body {
    height: 100%;
    margin: 5px;
}



.grid {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}



.squares {
    height: 100%;
    background-color: #ffffff;
    transition: all 0.1s;
}